<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define fuel bean -->
    <bean id="fuel" class="com.example.demo.Fuel"/>

    <!-- Define engine bean and inject fuel -->
    <bean id="myEngine" class="com.example.demo.Engine">
        <constructor-arg ref="fuel"/>
    </bean>

</beans>
